* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(252, 85, 85));
}
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 0 15px;
    padding: 0 15px;
}
.nav-letra {
    font-size: 1.5em;
    margin: -5px 15px;
    padding: -5px 15px;
}
.logo {
    height: 70px;
    margin-left: 10px;
}
.parallax {
    background-image:url(img/1.jpg);
    opacity: 0.7;
    min-height: 55vh; 
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo {
    color: white;
    font-size: 4em;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px black;
    text-align: center;
    margin: 15px auto;
}
.autor {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px black;
    margin: 15px auto;

}
.subtitulo {
    font-size: 2em;
    text-align: center;
    padding: 15px 0;
    margin: 0 15px;
}
.txt {
    padding: 15px 15px;
    margin: 0 15px;
    text-align: center;
    font-size: 1.5em;
}
.icon {
    font-size: 2em;
    color:rgb(252, 85, 85);
    position: relative;
    margin: 15px 0;
}
.icon-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pie {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(252, 85, 85));
    text-align: center;
    padding: 10px 0;
}
footer a {
    text-decoration: none;
}
footer a .fa-brands {
    text-decoration: none;
}
.red-social {
    font-size: 2em;
    margin: 0 15px;
}
.pie-txt {
    font-size: 1.6em;
}

/* CONTACTO */
.img-contacto {
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    margin: 0;
}
.map {
    width: 100vw;
    height: 30vh;
}

/*CLASES / ACTIVIDADES*/
.slider-titulo {
    color: rgb(3, 3, 3);
    font-size: 2em;
}
.slider-img {
    opacity: 0.6;
}
.titulo-clases {
    text-align: center;
    margin: 15px 0;
}

/*POR QUE YOGA?*/
.titular {
    text-align: center;
    margin: 15px 0;
}
.titular-txt {
    text-align: center;
}
.por-que-conteiner {
display: grid;
row-gap: 5px;
column-gap: 5px;
}
.conteiner-1 {
    background: rgb(255, 255, 187);
    border: solid 1px black;
    margin: 0 0;
    padding: 15px;
}
.conteiner-2 {
    background: rgb(253, 189, 164);
    border: solid 1px black;
    margin: 0 0;
    padding: 15px;
}
.conteiner-3 {
    background: rgb(255, 255, 187);
    border: solid 1px black;
    margin: 0 0;
    padding: 15px;
}
.enumerado {
    text-align: left;
    padding: 0 10px;
}
.space {
    margin: 0 10px;
}

@media screen and (min-width: 768px) {
    .parallax {
        min-height: 70vh;
    }
    .slide {
        margin: 0 25vw;
    }
    .por-que-conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
    }
}